<p id="notice"><%= notice %></p>

<p>
  <strong>Head:</strong>
  <%= @human.head %>
</p>

<p>
  <strong>Body:</strong>
  <%= @human.body %>
</p>

<%= link_to 'Edit', edit_human_path(@human) %> |
<%= link_to 'Back', humen_path %>
